@import url("https://fonts.googleapis.com/css2?family=Chango&family=Erica+One&family=Kanit:wght@900&family=Lato:wght@900&display=swap");

#d {
  font-family: "Chango", cursive;
  text-align: center;
  background: url(../images/2.jpg);
}

#d p {
  padding: 30px;
  margin-top: 0px;
  color: #2b4b82;
  font-size: 50px;
}

#a {
  background-color: #f7b4a7;
  padding: 20px;
  color: #31356e;
}

#c {
  background-color: #2b4b82;
}

#c .navbar-brand {
  color: #f7b4a7;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 17px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  width: 40%;
  border-radius: 20%;
  padding: 0.4em;
  margin-bottom: 1em;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

.card {
  text-align: center;
  color: #2b4b82;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card img {
  border-radius: 0%;
}

#f i {
  color: #2b4b82;
  font-size: 30px;
  padding-bottom: 20px;
}

#f i:hover {
  color: #94ddde;
}

#b {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #2b4b82;
  color: #f7b4a7;
}

#projects {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f7b4a7;
}

#contacts {
  color: #2b4b82;
  padding-bottom: 0;
}
